<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div style="text-align:center">
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
    <!-- Item Name Column -->
    <ng-container matColumnDef="item-name">
      <th mat-header-cell *matHeaderCellDef> Item Name </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
      <td mat-footer-cell *matFooterCellDef> Total Amount </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let transaction"> {{(transaction.cost + 1) - transaction.cost}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Sub Total Column -->
    <ng-container matColumnDef="sub-total">
      <th mat-header-cell *matHeaderCellDef> Sub Total </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
    </ng-container>

    <!-- Input row -->
    <ng-container matColumnDef="head1">
      <th mat-header-cell *matHeaderCellDef>
        <label>
          <input autocomplete="off" type="text" matInput placeholder="Item Name">
        </label>
      </th>
    </ng-container>
    <ng-container matColumnDef="head2">
      <th mat-header-cell *matHeaderCellDef>
        <label>
          <input autocomplete="off" type="text" matInput placeholder="Unit Price">
        </label>
      </th>
    </ng-container>
    <ng-container matColumnDef="head3">
      <th mat-header-cell *matHeaderCellDef>
        <label>
          <input autocomplete="off" type="text" matInput placeholder="Quantity">
        </label>
      </th>
    </ng-container>
    <ng-container matColumnDef="head4">
      <th mat-header-cell *matHeaderCellDef>
        <label>
          <input autocomplete="off" type="text" matInput placeholder="Discount in percent">
        </label>
      </th>
    </ng-container>
    <ng-container matColumnDef="head5">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="accent" type="submit" [disabled]="loading">Add</button>
      </th>
    </ng-container>

    <!-- Discount Row -->
    <ng-container matColumnDef="discount">
      <td mat-footer-cell *matFooterCellDef> Discount </td>
    </ng-container>
    <ng-container matColumnDef="discount-total">
      <td mat-footer-cell *matFooterCellDef> - {{0 | currency}} </td>
    </ng-container>

    <!-- Final amount Row -->
    <ng-container matColumnDef="final-amount">
      <td mat-footer-cell *matFooterCellDef> Amount to pay </td>
    </ng-container>
    <ng-container matColumnDef="final-total">
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
    </ng-container>

    <!-- File download Row -->
    <ng-container matColumnDef="download-as">
      <td mat-footer-cell *matFooterCellDef>
        <h3>Download as</h3>
      </td>
    </ng-container>
    <ng-container matColumnDef="csv">
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">.CSV</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="pdf">
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">.PDF</button>
      </td>
    </ng-container>

    <!-- Empty single column row-->
    <ng-container matColumnDef="emptyColumn">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['head1', 'head2', 'head3', 'head4', 'head5']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="['discount', 'emptyColumn', 'emptyColumn', 'discount-total']"></tr>
    <tr mat-footer-row *matFooterRowDef="['final-amount', 'emptyColumn', 'emptyColumn', 'final-total']"></tr>
    <tr mat-footer-row *matFooterRowDef="['download-as', 'emptyColumn', 'csv', 'pdf']"></tr>
  </table>
</div>


<router-outlet></router-outlet>
